.landing-banner {
    height: 400px;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .banner-content {
    text-align: center;
  }
  
  .banner-logo {
    height: 100px;
    margin-bottom: 10px;
  }
  
  .banner-sub-title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: -45px;
  }

  .banner-title {
    font-size: 44px;
    line-height: 2.5;
  }
  