.subscription-page {
  padding: 40px;
  background: linear-gradient(177deg, #0a9393, #000000, #000000);;
  min-height: calc(100vh - 100px);
}

.subscription-page h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subscription-section {
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.subscription-section h2 {
  font-size: 28px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.subscription-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  height: 300px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-top {
  background-color: white;
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-date {
  font-size: 18px;
  font-weight: bold;
  color: #0a9393;
  margin-bottom: 10px;
}

.card-excerpt {
  font-size: 14px;
  color: #444;
  white-space: pre-wrap;
}

.card-bottom {
  background-color: #0a9393;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-summary {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.cta-button-container {
  text-align: center;
  margin-top: 20px;
}

.cta-button {
  background-color: #2b3035;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
  background-color: #4f4f4f;
}
