.profil-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 89vh;
  background: linear-gradient(177deg, #0a9393, #000000, #000000);
  color: white;
  padding: 20px;
}

.profil-info-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.profil-info {
  font-size: 18px;
  margin-bottom: 10px;
  color: lightgray;
  text-align: center;
}

.payment-details, .subscription-details {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.payment-details h3, .subscription-details h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.payment-details p, .subscription-details p, .no-payment-details {
  font-size: 18px;
  color: lightgray;
}

.audio-files-section {
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.1);;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.audio-files-section h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.audio-files-section ul {
  list-style-type: none;
  padding-left: 0;
}

.audio-files-section li {
  font-size: 16px;
  color: lightgray;
  margin-bottom: 15px;
}

.signout-button {
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #0a9393;
  color: white;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signout-button:hover {
  background-color: #26d1d1;
}
