.forgotpassword-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;
    background: linear-gradient(177deg, #0a9393, #000000, #000000);
    padding: 20px;
  }
  
  .forgotpassword-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
  }
  
  button[type="submit"] {
    background-color: #2b2f34;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"]:hover {
    background-color: #6d6d6d;
  }
  
  button[type="submit"]:active {
    background-color: #040404;
  }
  
  button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
  }

  p {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    text-align: center;
  }

  p {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  