.footer {
  height: 5vh;
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px 0;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 12px;
}
