/* Footer Styling */
.footer {
  height: 5vh;
  width: 100%; /* Occupe toute la largeur */
  background-color: black;/* Fond gris foncé avec transparence */
  color: white;
  padding: 5px 0; /* Réduire la hauteur du footer */
  text-align: center;
  position: relative;
  bottom: 0; /* Position en bas de l'écran */
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 12px; /* Taille réduite du texte */
}
