.landing-banner {
  height: 94vh;
  background: linear-gradient(177deg, #0a9393, #000000, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 20px;
  text-align: center;
}

.banner-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-sub-title {
  margin-bottom: -30px;
  font-size: 32px;
  line-height: 1.5;
}

.banner-title {
  font-size: 60px;
  line-height: 1.2;
}

.banner-description {
  max-width: 800px;
}

.banner-description h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.banner-description p {
  font-size: 16px;
  line-height: 1.6;
  color: darkgray;
}

.banner-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.banner-btn {
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more {
  background-color: #0a9393;
  color: white;
}

.learn-more:hover {
  background-color: #26d1d1;
}

.register-now {
  background-color: #4b5157;
  color: white;
}

.register-now:hover {
  background-color: #84878a;
}
